@import '../../styles/variables.module.scss';

.home-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    background-color: $principal-color;
    padding: 30px;
    border: 10px $secundary-color solid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
}